@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Your Ticket</h2>

<p>Departure: @ViewData["departureStn"]</p>
<p>Arrival: @ViewData["arrivalStn"]</p>
<p>Departure Time: @ViewData["departureDateAndTime"]</p>
<p>Passenger Name: @ViewData["holderName"]</p>
<p>Email: @ViewData["email"]</p>
<p>Age: @ViewData["age"]</p>
<p>SeatClass: @ViewData["seatClass"]</p>
<p>SeatBerth: @ViewData["seatBerth"]</p>
<p>Total Fare: @ViewData["totalFare"]</p>




